* {
    margin: 0;
    padding: 0;
}

#div-all {
    margin: 0;
    padding: 0;
}

.map {
    position: relative;
    text-align: center;
    width: 629px;
    display: table;
    margin: 0 auto;
    border-style: groove;
    border-top: 0;
}

.external-map {
    margin-top: 150px;
    text-align: center;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.part {
    opacity: .2;
}

.part:hover {
    transition: opacity .2s ease;
    opacity: .5;
    cursor: pointer;
}