/** {
    margin: 0;
    padding: 0;
}

.wrapper {
	position: relative;
	min-height: 100%;
}

#icon {
    font-size:300%;
    color:antiquewhite;
    border-style:none;
    text-decoration:none;
	transition-property: font-size;
    transition-duration: 500ms;
    line-height: 70px;
}*/

#navbarResponsive {
    text-align: center;
}

#icon {
    color: white;
}

#nav {
    left: 0;
}

#sticky-footer {
    flex-shrink: none;
}

#col {
    background-color: rgb(233, 244, 255);
}

#formForLogIn {
    display: none;
}

#registrationForm {
    width: 100%;
    max-width: 360px;
    align-self: center;
    margin: auto;
    background-color: white;
}

.divOutFormReg{
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: white;
    width: 100%;
    border-style: solid;
    border-color: #0066cc;
    border-width: 2 px;
}

#bodyReg {
    background-color: rgb(233, 244, 255);
}

#RegFormElemsDiv {
    width: 100%;
    text-align: center;
}


