/** {
    margin: 0;
    padding: 0;
}

.wrapper {
	position: relative;
	min-height: 100%;
}

#icon {
    font-size:300%;
    color:antiquewhite;
    border-style:none;
    text-decoration:none;
	transition-property: font-size;
    transition-duration: 500ms;
    line-height: 70px;
}*/

#navbarResponsive {
    text-align: center;
    
}

#icon {
    color: white;
}

#nav {
    left: 0;
}


